/*Universal Styles*/
/*
--seasalt: #f8f9faff;
--antiflash-white: #e9ecefff;
--platinum: #dee2e6ff;
--french-gray: #ced4daff;
--french-gray-2: #adb5bdff;
--slate-gray: #6c757dff;
--outer-space: #495057ff;
--onyx: #343a40ff;
--eerie-black: #212529ff;*/
html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

main {
    max-width: 780px;
    margin: 0 auto;
    padding: 0 2rem;
}
@media screen and (max-width: 480px) {
    main {
        padding: 0 1rem;
    }
    
}
/*Header Section*/
header {
    background-color: white;
    color: black;
    border-bottom: solid 1px black;
}
.center-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.7rem 2rem;
}

header h1 {
    margin-bottom: 0.1rem;
    font-size: 1.8rem
}

header h2 {
    color: black;
    font-size: 1.3rem;
    font-weight: 300;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-left: 1rem;
}

.menu a {
    text-decoration: none;
    color: black;
}

/*Hamburger menu*/
.hamburger {
    display: none;
}

/*-----------------*/


@media screen and (max-width: 1100px) {
    .center-header {
        margin: 0 auto;
        max-width: 780px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 780px) {

    /*Hamburger menu*/
    .hamburger {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .hamburger span {
        font-size: 2.5rem;
    }

    .closeIcon {
        display: none;
    }

    .menu {
        position: absolute;
        display: none;
        right: 0;
        left: 0;
        z-index: 99;
        background: #212529ff;
    }

    .showMenu {
        display: block;
        top: 112.98px;
        padding: 0;
        margin: 0;
    }

    .menu li {
        margin: 0;
        padding: 1rem 2rem;
    }

    a.menuItem {
        color: white;
        display: block;
    }

    .menu li:hover {
        background-color: #495057ff;
    }

}

@media screen and (max-width: 480px) {
    header h1 {
        max-width: 230px;
    }

    .showMenu {
        top: 147.09px;
    }

}

/*About me*/
.about-me {
    /* max-width: 780px;
    margin: 0 auto;*/
    margin-bottom: 4rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-me h2 {
    margin-bottom: 0.5rem;
}

.about-me-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-me h2 {
    margin-bottom: 1rem;
}

.about-me img {
    width: 12rem;
    margin-top: -2rem;
}

.about-me p {
    max-width: 30rem;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
    margin-right: 2rem;
}

/**/
.sketchy {
    /*border-radius:3% 4% 3% 4% / 29% 86% 45% 88% ;*/
    border-radius: 45% 55% 68% 32% / 39% 42% 58% 61%;
    /*outline: 2px solid #343A40;*/
}

/**/

@media screen and (max-width:730px) {
    .about-me-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-me img {
        width: 15rem;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    .about-me p {
        max-width: 100%;
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: center;
        margin-right: 0rem;
    }
}

/*Skills section*/
.skills {
    margin-bottom: 5rem;

}

.skills h2 {
    margin-bottom: 1.5rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skills img {
    height: 2.2em;
    /*margin-right: 2.5rem;*/
}

.skill {
    background-color: rgb(243, 243, 243);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

}

@media screen and (max-width:730px) {
    .skill{
        margin-top: 1rem;
    }
    .skills h2 {
        margin-bottom: 0.5rem;
    }
}
/*Projects*/
.project {
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 2rem;
    border: solid 1px black;
    align-items: center;
}

.projects h2 {
    margin-bottom: 1rem;
}

.project img {
    width: 48%;
    border: 1px solid black;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 48%;
}

.description h3 {
    margin-bottom: 0.5rem;
}

.description {
    margin-bottom: 1rem;
}
.technologies {
    margin-bottom: 1rem;
}
.technologies span {
    display: inline-block;
    background-color:rgb(223, 223, 223);
    padding: 0.2rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    margin: 1rem 0;
}

@media screen and (max-width:730px) {
    .project {
        flex-direction: column;
        align-items: center;
    }
    .description {
        margin-top: 1rem;
    }

    .project img {
        width: 100%;
    }

    .description-container {
        width: 100%;
    }
}

/*Contact me*/
.contact-me {
    margin-bottom: 3rem;
}

.contact-me h2 {
    margin-bottom: 0.6rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    
}

.contact-card {
    margin-top: 1rem;
    background-color: #dddddd;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    border-radius: 5px;
}

.contact-card img {
    height: 2rem;

}

.contact-card span {
    margin-left: 0.5rem;
}

.cards a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:740px) {
    .cards {
        flex-direction: column;
    }
}

/*Footer*/
footer {
    padding: 2rem;
    background-color: #212529ff;
    color: white;
    text-align: center;
}

/*Back to top Button*/
#myBtn {
    display: none;
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 2px solid white;
    outline: none;
    background-color: #dee2e6ff;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

#myBtn:hover {
    background-color: #ced4daff;
}